services:
  # Backend
  - type: web
    name: cloudly-backend
    env: node
    plan: free
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: CLIENT_URL
        value: https://cloudly-music.vercel.app
      - key: OPENAI_API_KEY
        sync: false # User must add this manually in Dashboard
      - key: MONGO_URI
        sync: false # User must add this manually
      - key: JWT_SECRET
        generateValue: true
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false 
